<?xml version="1.0" encoding="UTF-8"?>

<!--
Container Image Gitora
-->

<web-app
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
version="3.0">
	<servlet>
		<servlet-name>start</servlet-name>
		<servlet-class>gitora.Start</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>start</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>co.gerger.pagelet.servlets.Main</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>diff</servlet-name>
		<servlet-class>com.gitora.servlet.DiffViewer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>diff</servlet-name>
		<url-pattern>/viewdiff</url-pattern>
	</servlet-mapping>
</web-app>
